.wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 1em;
    background: #fff;
    border: 1px solid #7a5784;
}

h3 {
    margin: 0;
}

input:focus,
textarea:focus {
    outline: 3px solid #ecbe7b;
}

input,
button {
    width: 100%;
    border: 1px solid #7a5784;
}

.wrapper > * {
    padding: 1em;
}

form label {
    display: block;
}

form p {
    margin: 0;
}

button,
input,
textarea {
    padding: 1em;
}

button {
    background: #7a5784;
    width: 100%;
    border: 0;
}
button:hover, button:focus {
    background: #ecbe7b;
    outline: 0;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
